<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
    >
    <testsuites>
        <testsuite name="e2e">
            <directory suffix="Test.php">./tests/e2e</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="nU9ClNv41WWjjrFPFSkCvujzteHWJ9SN"/>
        <env name="DB_CONNECTION_DOCTRINE" value="pdo_sqlite"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_HOST" value="localhost" />
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_USERNAME" value="elefanteca_user"/>
        <env name="DB_PASSWORD" value="123"/>
        <env name="JWT_KEY" value="uma_chave_muito_secreta123"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>
